body {
    background-color: #2d3436;
}

.music_select_flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    width: 100%;

    .music_select_button {
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        box-shadow: 4px 4px 1px #FD5B78;
        color: #fff;
        display: flex;
        font-size: 25px;
        height: 200px;
        justify-content: center;
        margin: 20px;
        width: 230px;

        &.achtizger {
            background-image: url("../img/80s.jpg");
        }

        &.schlager {
            background-image: url("../img/schlager.jpg");
        }

        span {
            background-color: rgba(0,0,0,0.7);
            border-radius: 20px;
            text-align: center;
            padding: 10px;
            width: 70%;
        }
    }
}